body {
	background-color:skyblue;
	border:0px;
	margin:0px;
	padding:0px;
}
header{
	display:flex;
	border:0px;
	margin:0px;
	padding:0px;
	justify-content:space-between;
	background: darkblue;
}
h1{
	color:whitesmoke;
}

nav ul{
	font-size:8px;
	display:flex;
	list-style:none;
}
nav ul li{
	margin:15px 15px;
}
nav ul li a{	
	color:whitesmoke;
}
nav ul li a:hover{	
	color:red;
}
h2{
	color:black;
	display:flex;
	font-size: 28px;
	justify-content: center;
	text-decoration: underline;
}
p{
	font-size:24px;
	text-align: center;
}
#bio {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
}


#bio img{
	width:200px;
	height:200px;
	border-radius:50%;
	margin-left:20px auto;
}
table{
	width:100%;
	border-collapse:collapse;
}
th,td {
    border: 1px solid #004080; 
    padding: 10px; 
    font-size:24px
}
th{
	background-color: darkblue;
	color:whitesmoke;
}
tr:hover{
	background-color:whitesmoke;
}
#projects{
	text-align: center;
}
#projects h2{
	margin-bottom: 20px;
}
#projects img {
	width: 45%;
	height:auto;
	object-fit: cover;
	margin: 10px
}
form{
	background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    width: 50%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    justify-content: center
}

#cf label{
	display:block;
	font-weight: bold;
	font-size: 20px;
}

#cf input[type="text"],
#cf input[type="email"],
#cf textarea {
  width: 100%;
  font-size: 16px;
}

#cf input[type="submit"]{
	cursor:pointer;
	width:100%;
	height:50px;
	background-color:skyblue;
	font-weight:bold;
	font-size:20px;
}