@media (max-width:600px){
	  h1 {
    font-size: 20px;
  }

  nav ul {
    flex-direction: column;
    font-size: 16px;
  }
  #projects img {
    width: 90%;
  }
  form {
    width: 95%;
  }
}
@media(min-width:601px) and (max-width:1024px) {
  h1 {
    font-size: 28px;
  }
  nav ul {
    flex-direction: column;
    font-size: 18px;
  }
  #projects img {
    width: 70%;
  }
  form {
    width: 70%;
  }
}

@media (min-width:1025px) {
  h1 {
    font-size: 36px;
  }
  nav ul {
    flex-direction: column;
    font-size: 20px;
  }

  #projects img {
    width: 45%;
  }

  form {
    width: 50%;
  }
}

#menu-toggle{
	position:fixed;
	top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  color:whitesmoke;
}
 header nav{
 	display:flex;
 	position:fixed;
	left:-700px;
	background:darkblue;
	height:100%;
	transition: left 0.3s ease;
	z-index:1000;
	justify-content:flex-start;
	padding-top: 80px;
	flex-direction:column;

}

body {
	background-color:skyblue;
	border:0px;
	margin:0px;
	padding:0px;
}
#video-background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:-1;
}

header{
	display:flex;
	border:0px;
	margin:0px;
	padding:0px;
	justify-content:center;
	background: darkblue;
}
h1{
	color:whitesmoke;
}

nav ul{
	font-size:18px;
	display:flex;
	list-style:none;
}
nav ul li{
	margin:15px 15px;
}
nav ul li a{	
	color:whitesmoke;
}
nav ul li a:hover{	
	color:red;
}
h2{
	color:whitesmoke;
	display:flex;
	font-size: 28px;
	justify-content: center;
	text-decoration: underline;
}
p{
	font-size:24px;
	color:whitesmoke;
	text-align: center;
}
#bio {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
}


#bio img{
	width:200px;
	height:200px;
	border-radius:50%;
	margin:20px auto;
}
table{
	width:100%;
	border-collapse:collapse;
}
th,td {
    border: 1px solid #004080; 
    padding: 10px; 
    font-size:24px
}
th{
	background-color: darkblue;
	color:whitesmoke;
}
td{
	color:whitesmoke;
}
tr:hover{
	background-color:whitesmoke;
}
tr:hover td {
	color:black;
}
#projects{
	text-align: center;
}
#projects h2{
	margin-bottom: 20px;
}
#projects img {
	width: 45%;
	height:auto;
	object-fit: cover;
	margin: 10px
}
form{
	background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    width: 50%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    justify-content: center;
}

#cf label{
	display:block;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 8px;
	padding:8px;
}

#cf input[type="text"],
#cf input[type="email"],
#cf textarea {
  width: 100%;
  font-size: 16px;
}

#cf input[type="submit"]{
	cursor:pointer;
	width:100%;
	height:50px;
	background-color:skyblue;
	font-weight:bold;
	font-size:20px;
	margin-top:8px;
}